@import "../variables";

.radio-btn {
	position: relative;

	input {
		position: absolute;
		left: 7px;
		top: 7px;
		z-index: 15;
		display: none;
		margin: 0;
		padding: 0;

		&:checked {
			+ label::after {
				opacity: 1;
			}
		}
	}

	label {
		display: block;
		padding-left: 25px;
		cursor: pointer;

		&::before,
		&::after {
			content: "";
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}

		&::before {
			border: 1px solid #333;
			border-radius: 50%;
			width: 16px;
			height: 16px;
		}

		&::after {
			margin-left: 3px;
			border-radius: 50%;
			width: 10px;
			height: 10px;
			background-color: #333;
			opacity: 0;
			transition: $duration-normal;
		}

		span {
			display: block;
			padding-top: 5px;
			font-size: 80%;
			color: #535353;
		}
	}
}
