.nav {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding-left: 0;

	&__list {
		flex: 0 0 auto;
		padding-right: 15px;
		padding-left: 15px;
		width: auto;

		&:first-child {
			margin-left: auto;
		}

		&:last-child {
			margin-right: auto;
		}
	}
}
