main
	.container
		.row.justify-content-center
			form.configurator.form-configurator
				.configurator__header
					include blocks/tab
				#js-generate-service.configurator__body
				.configurator__footer
					.configurator__total-block
						.accordion__name.accordion__name_total
							.text-with-line.justify-content-btw
								span
									| Тип устройства
								span
									| от 199 999 тыс.
					.configurator__btn-block
						.row
							.col
								button.btn.configurator__btn-send
									| Отправить заявку
							.col-auto
								button.btn.btn_icon
									include ../images/icons/phone.svg
							.col-auto
								button.btn.btn_icon
									include ../images/icons/msg.svg
