main
	.container
		.row.justify-content-center
			.configurator
				.configurator__header
					include blocks/tab
				#js-generate-service.configurator__body
				.configurator__footer
					.configurator__total-block
						.text-with-line
							span
								| Тип устройства
