*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	font-family: "Roboto", sans-serif;
	-webkit-font-smoothing: antialiased;
	text-decoration-skip: objects;
	text-rendering: optimizeLegibility;
	text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
}

button:not([disabled]),
a[role="button"]:not([disabled]) {
	cursor: pointer;
}
