@import "variables";

.btn {
	border: 1px solid #000;
	padding: 5px 10px;
	background-color: transparent;
	transition: $duration-normal;

	&_icon {
		padding: 3px;
		width: 30px;

		svg {
			display: block;
			width: 100%;
			height: 100%;
			transition: $duration-normal;
		}
	}

	&:hover {
		color: #fff;
		background-color: #000;

		svg {
			fill: #fff;
		}
	}
}
