// stylelint-disable no-empty-source
@font-face {
	src: url("../fonts/Roboto-Regular.ttf") format("ttf");
	font-family: "Roboto";
	font-weight: 400;
	font-style: normal;
}

@font-face {
	src: url("../fonts/Roboto-Bold.ttf") format("ttf");
	font-family: "Roboto";
	font-weight: 600;
	font-style: normal;
}
