.text-with-line {
	position: relative;
	display: flex;
	flex: 1;
	flex-wrap: wrap;

	&::before {
		content: "";
		position: absolute;
		bottom: 0;
		z-index: 1;
		border-bottom: 1px solid #000;
		width: 100%;
		height: 1px;
	}

	span {
		position: relative;
		z-index: 2;
		background-color: #ccc;
	}
}
