.text-with-line {
	position: relative;
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	padding-right: 0;
	padding-left: 0;

	&::after {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: 1;
		border-bottom: 1px solid #000;
		width: 100%;
		height: 1px;
	}

	span {
		position: relative;
		z-index: 2;
		background-color: #ccc;

		&:first-child {
			padding-right: 7px;
		}

		&:last-child {
			padding-left: 7px;
		}
	}
}
